<template>
  <div class="container">
    <br/>
    <b-tabs type="is-boxed expanded"  position="is-centered" v-model="loadp" @change="(val) => load(list[val].url)">
      <div  v-for="item in list" :key="item.name" ><b-tab-item :label="item.name" :icon="item.icon"></b-tab-item></div>
    </b-tabs>
    <b-table
            :data="rows"
            paginated
            per-page="1000"
            :opened-detailed="defaultOpenedDetails"
            detailed
            detail-key="0"
            :has-detailed-visible="detailedVisible"
            :loading="loading"
            :row-class="onRowClassCache"
    >

      <template slot-scope="props">
        <b-table-column field="0" :label="columns[0]" width="500">
          {{ props.row[0] }}
        </b-table-column>
        <b-table-column field="1" :label="columns[1]">
          {{ props.row[1] }}
        </b-table-column>
        <b-table-column field="2" :label="columns[2]">
          {{ props.row[2] }}
        </b-table-column>
        <b-table-column field="3" :label="columns[3]" width="500">
          {{ props.row[3] }}
        </b-table-column>

        <b-table-column field="4" :label="columns[4]"  width="1">
          <a :href="props.row[4]" target="blank">{{props.row[4].substring(0,30)}}</a>
        </b-table-column>


      </template>

      <template slot="detail" slot-scope="props">
        <div v-for="key in 15">
          <p v-if="props.row[key+4] != undefined && (props.row[key+4].length > 1 || props.row[key+4] > 0)"><b>{{columns[key+4]}}</b>: {{props.row[key+4]}}</p>
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
    import papaparse from 'papaparse';

export default {
  name: 'app',
    data(){
      return {
          loading: false,
          loadp: 3,
          rows: [],
          columns: [],
          defaultOpenedDetails: [],
          list: [],

          cache: [],

          category_i: -1
      }
    },
  mounted(){
      this.$http.get('https://raw.githubusercontent.com/aquaminer/test-repo/master/italent.json') .then((response) => {
          response.body.forEach((elem, index) => {
              if(elem.winers == undefined) elem.winers = 3;
              this.list.push(elem);
          })
          this.load(this.list[this.loadp].url)

      });
  },
  methods:{
      detailedVisible(row){
        if (row[1] == "") return false;
        return true
      },
      onRowClassCache(row, index){
          if(this.cache[index] != undefined) return this.cache[index];
        this.cache[index] = this.onRowClass(row, index);
      },
      onRowClass(row, index) {
          if(row[1] == ""){
              this.category_i = index;
              return "notification is-link";
          }

          var winers = this.list[this.loadp].winers;
          if(this.category_i > -1 ){
             if(this.category_i == 0){
                 if(index+1 < winers+2){
                     return "notification is-success";
                 }
             }else{
                 if(index-this.category_i <= 3){
                     return "notification is-success";
                 }
             }
          }else{
              if (index < winers){
                  return "notification is-success";
              }
          }
          if (this.rows.length-1 == index){
              this.category_i = -1;
          }
      },
      load(url){
          this.rows = [];
          this.columns = [];
          this.cache = [];
          this.loading = true;
          this.category_i = -1;
          this.$http.get(url)
              .then((response) => {
                  var data = papaparse.parse(response.body).data;
                  data[1].forEach((elem, key) => {
                      this.columns.push(elem)
                  });
                  data.forEach((elem, key) => {
                      if(key > 1){
                          var new_elem = {};
                          elem.forEach((elem2, key) => {
                              new_elem[key] = elem2;
                          });
                          // console.log(new_elem);
                          this.rows.push(new_elem);
                      }
                  })
                  this.loading = false;
              })
              .catch(function (error) {
                  // handle error
                  console.log(error);
              });

      }
  }
}
</script>

<style>
  /*tr.is-danger{*/
    /*background-color: red;*/
  /*}*/
  /*.is-da*/
</style>
